/* You can add global styles to this file, and also import other style files */
.dropdown-item {
    cursor: pointer;
}

th {
    text-align: center;
}

/* Classes auxiliares de margem */
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

/* Paginador */
.pager-container {
    margin: 0;
    padding: 0;
    float: right;
}

.pager-container li {
    cursor: pointer;
}

.pager-container li.active a {
    color: #ffffff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

/* Estilos para validação de formulários */
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control.invalid {
    border-color: #dc3545;
}

.form-group {
    margin-top: 5px;
}